[2021-10-16 16:26] monero-asb commented on #824
Have you exported you btc wallet before?

[2021-10-16 16:30] monero-asb commented on #824
He has already done that but gets `Error: Failed to sync balance of Bitcoin wallet`

[2021-10-16 16:41] xmrswapme commented on #824
Yeah, that would help.

This first wallet I did not export. I then started a new instance of asb with a new wallet after this first error. I exported that one and have the master private key, but have been unable to import it into Electrum successfully. I'm googling around now. I'm not sure how to import the wallet descriptor. I believe it's a BIP32. With electrum it recognizes the key but had the

[2021-10-16 16:50] xmrswapme commented on #824
I'm more concerned about this error that doesn't let me complete the three swaps that are currently opened.

[2021-10-16 16:53] monero-asb commented on #824
[key.zip](https://github.com/comit-network/xmr-btc-swap/files/7357901/key.zip)

This is the source code. If you have problem compiling it, I can send you the binary.
By they way, Electrum does not support this, I use https://github.com/sparrowwallet/sparrow

[2021-10-16 21:11] xmrswapme commented on #824
## Update

Looks like I may have got around this issue for the time being. I commented out the following two lines from `swap/src/bitcoin/wallet.rs`

[code]

As it looked like something in bdk was causing this to fail. Something about utxo's not being published or something. I really don't know what I"m talking about at this point. But, after compiling **xmr-btc-swap** and rerunning on the same da

[2021-10-16 21:16] xmrswapme commented on #824
`Swap completed swap_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxf2 final_state=btc is redeemed`

seems to have worked.

[2021-10-17 01:49] xmrswapme opened #827 "Failed to set up connection with peer (ASB) (unstoppableswap.net)"
**Describe the bug**
Getting constant warning messages from unstoppableswap.net

Not sure if this is because I changed my peer address and it's still trying to reach the old peer(s). I will be changing my peer address on a semi-regular basis and will have to update unstoppable with the new peer ID each time. I think doing this will add an extra layer of privacy/security. It does require more work

[2021-10-17 01:54] monero-asb commented on #827
I already asked @binarybaron (the owner of unstoppableswap.net) about this. Here's his answer:

And we can do nothing to stop it!

[2021-10-17 02:04] monero-asb commented on #823
Yeah later I figured out it happens on everyone making a `list-sellers` request. I'm OK with that too.

[2021-10-17 02:04] #823 closed

[2021-10-17 02:30] xmrswapme commented on #827
heh. Oh well. So it goes..

[2021-10-17 03:10] #827 closed

[2021-10-17 04:11] #790 closed

[2021-10-17 23:45] xmrswapme commented on #827
@binarybaron Actually there may be something you could do. I re-registered my ASB provider with unstoppable yesterday, same multiaddress but different peer address and it isn't registering in the listing on the site. I did receive the 3 connections errors that are attributed to unstoppable querying the provider. Do you think you could look to see why /dnsaddr/xmrswap.me is not listed?

Multiaddres

[2021-10-18 00:02] rishflab opened #828 "Ensure bob does not need a connection to redeem xmr"
It is not completely clear whether or not bob needs a connection to alice to redeem xmr if the alice has redeemed Btc.

I think connection errors are swallowed in the event loop but we should make sure.

[2021-10-18 09:19] binarybaron opened #829 "Inform user when he has been punished"
**Describe the bug**
After resuming a swap where Bob was penalized while offline, the cli does not give a proper output, but closes unexpectedly with the message `Alice took too long to lock Monero, causing the swap to be cancelled.`

**Lost/trapped Funds**
No

**Platform (please complete the following information):**

- CLI
- Software Version: 0.9
- Operating System: All

[2021-10-21 12:47] binarybaron opened #835 "`monero-wallet-rpc` stays alive after cli is killed"
**Describe the bug**
While working on a GUI for the swap-cli, I ran into a bug. When the cli is running in a non-interactive shell and the process is terminated by sending a SIGINT signal, the monero-wallet-rpc stays alive. This causes an issue where the user cannot initiate new swaps because two instances of monero-wallet-rpc are trying to access the same wallet, resulting in an error. I currentl

[2021-10-25 12:32] goodatdrowning opened #839 "Tor not found. Running on clear net, but Tor is active and listening on 9051"
**Describe the bug**
When I start the ASB, it says:

WARN Tor not found. Running on clear net

I have a Tor relay running and the control port is set to 9051.
**Lost/trapped Funds**
No

**Debug logs**
Please post your debug logs. You find them in:
Linux: /home/<user>/.local/share/xmr-btc-swap/logs

There are no logs in that path (or under the asb/mainnet/ folder). I haven't funded the ASB yet, I'd

[2021-10-25 13:19] #839 closed, assigned to nobody

[2021-11-02 04:58] xmrswapme commented on #824
I'll go ahead and close this now as there is a temporary solution that gets around this error and it is more related to bdk than xmr-btc-swap anyhow.

[2021-11-02 04:58] #824 closed

[2021-11-04 20:19] da-kami commented on #537
If anybody runs into this problem, it appears to be a problem of an older version of the monero wallet RPC not picking up the transaction, but should be solved when using the latest monero tools. See https://github.com/monero-project/monero/issues/7968

[2021-11-06 15:33] Macifyy opened #844 "XMR IS LOCKED - Funds stuck in multisig"
My first ever transaction went through flawless and I received the funds. But transactions 2, and 3 have me reconsidering using unstoppableswap until it is in a later stage of development.

The 2 swaps have the status "XMR is locked"

If I attempt to cancel: "Error: Failed to broadcast Bitcoin cancel transaction Caused by: Electrum(Protocol(String("sendrawtransaction RPC error: {\"code\":-26,\"mes

[2021-11-10 17:58] ShinJii89 commented on #844
I have the same.... in version 0.9.0
Operating system: Linux

[code]

When I try
`./swap withdraw-btc --address XXXX`

There's an error:
`Error: OutputBelowDustLimit(0)`

[2021-11-11 13:49] Macifyy commented on #844
This explains why the funds are locked but its meant for the CLI wallet (https://www.getmonero.org/resources/user-guides/howto_fix_stuck_funds.html)  I'm still unsure how to access my seed within unstoppable swap.

[2021-11-11 14:01] ShinJii89 commented on #844
I did `./swap resume --swap-id XXX` and it gave me back BTC.

[2021-11-11 14:11] Macifyy commented on #844
REALLY? man I must be fucked being on windows. I also cant update my version from 0.8.3  to 0.9.0 or else Im unable to resume swap. I just get error messaged. i tried to resume swap and

[2021-11-11 14:17] Macifyy commented on #844
Whenever I attempt to resume swap on the latest version 0.9.0 I receive this error

`Error: no rows returned by a query that expected to return at least one row`

[2021-11-12 09:30] ShinJii89 commented on #844
I guess it f*cked up because you upgrade to 0.9.0 - there's something in changelog about database big changes...

[2021-11-21 01:23] AlaattinK02 opened #848 "Funds Lost - JSON-RPC request failed with code -4: No unlocked balance in the specified account"
**Describe the bug**
Swap is on "btc is redeemed" state but i cant resume the transaction and get my funds back, when i try to it says:

[code]

**Lost/trapped Funds**
Yes

**Debug logs**
[code]

**Platform (please complete the following information):**

- CLI or ASB: CLI
- Software Version: 0.9.0
- Operating System: MacOS 12.0.1

[2021-11-28 13:45] binarybaron opened #849 "Save logs for swap started with `--json` flag and save all logs in JSON format"
**Describe the bug**
The logs are not saved when the swap is started with the `--json` flag. This makes it much more difficult to reconstruct the previous swap state when resuming a swap, which is necessary for the GUI I am working on. In addition, it would be very helpful if all saved logs were saved in JSON format, as this would allow for the GUI to resume and display proper information about sw

[2021-11-30 13:01] orenchick opened #852 "Bumping BTC transaction fees"
**Describe the bug**
Hi.
I've made some  swaps that went through fluently.all good
The other day i was in a rush , the 0.002 btc confirmation process was a little too slow so , through Trezor Suite, i've Bumped the fees, unaware that bumping the fees will generate a new transaction that will not be recognized by the protocol.
so.
my bad obviously.
my only advice is to write down on the site  "**-d

[2021-12-01 12:13] MrCyjaneK commented on #844
@Macifyy I have the same error as you:
[code]
I'm on the very same binary - I've send funds in btc, but never got the xmr back

[2021-12-01 19:23] binarybaron commented on #816
I looked into this and think it's because GitHub Actions recently migrated the `ubuntu-latest` runner from `18.04` to `20.04`. (https://github.com/actions/virtual-environments/issues/1816)

I believe this can be fixed by just changing the os in `https://github.com/comit-network/xmr-btc-swap/blob/master/.github/workflows/build-release-binaries.yml` from `ubuntu-latest` to `ubuntu-18.04`

[2021-12-03 21:38] 4eMaLo commented on #767
I ran into the same issue but I was able to resolve it.

Before doing any of this PLEASE create a backup of `~/.local/share/xmr-btc-swap/cli/mainnet`. Put it somewhere where it can't be accidentally deleted. **If you lose this folder, the funds are gone.**

Once the swap is finished (redeemable), the XMR funds are stored in a wallet located at `~/.local/share/xmr-btc-swap/cli/mainnet/monero/monero

[2021-12-03 21:47] 4eMaLo commented on #848
This may be of help https://github.com/comit-network/xmr-btc-swap/issues/767#issuecomment-985847626

[2021-12-03 22:01] AlaattinK02 commented on #848
It worked @4eMaLo
Thank you so much, i have tried to open it with Monero GUI but didn't think there is a problem with the restore height.

[2021-12-03 22:07] 4eMaLo commented on #848
Glad to hear! This may be because I interrupted the swap. <speculation>I assume once the XMR transaction is signed the wallet is created but the restore height is set to the current height. If the transaction happens to be confirmed before the wallet is created, the wallet-software won't see the transaction</speculation>

This may be solved if we store the current block height before doing anythin

[2021-12-04 04:07] ISnortPennies opened #856 "Error: Unable to create Monero wallet EOF while parsing a value at line 1 column 0"
Using "sudo systemctl start asb" then "sudo tail asb/asb.log" throws
![yeet](https://user-images.githubusercontent.com/88247690/144696194-9075391c-7365-4e13-ae2d-2ca8ba41b18c.jpg)
but using "sudo asb start" throws no error
![New Bitmap Image](https://user-images.githubusercontent.com/88247690/144696154-f61bc276-670f-449c-8091-fcea0e83d3dd.jpg)
I'm new to Linux so it's probably something dumb but a

[2021-12-05 18:01] binarybaron commented on #572
I found out why this happens. It is related to https://github.com/comit-network/xmr-btc-swap/issues/835. I think the monero-wallet-rpc is sometimes not terminated when the swap cli is forcibly stopped (e.g. by Ctrl-C). The cli then creates a second instance of monero-wallet-rpc and when one tries to create a new wallet, it fails because the other monero-wallet-rpc instance has already opened a wal

[2021-12-05 18:20] binarybaron commented on #848
I think you are absolutely correct. The restore height is set as soon as the state machine goes into the `BtcLocked` state

https://github.com/comit-network/xmr-btc-swap/blob/9ea73a8e66c581492f84136e0b442910ce3a4ade/swap/src/protocol/bob/swap.rs#L100-L112

If Bob locks his Bitcoin and then goes offline, Alice locks her Monero while he is offline, and when he comes back online to check for the Mone

[2021-12-06 09:41] jerzybrzoska commented on #696
Apologies for replying so late, this issue somehow skipped my attention and it is just now that I noticed your reply.
I had already binutils and gcc installed. Do you mean [protoc-gen-yarpc](https://ubuntu.pkgs.org/20.04/ubuntu-universe-amd64/protoc-gen-yarpc_0.0.1-1_amd64.deb.html) package?
It compiles now `git clone && cargo build`. Yet using `cargo install` fails with the following error:
[code

[2021-12-07 09:37] rishflab commented on #696
i dont think cargo install will work because we have no specified a `[[bin]]` in our Cargo.toml

https://doc.rust-lang.org/cargo/commands/cargo-install.html

[2021-12-07 09:41] rishflab commented on #849
Hmm could you pipe the json output to a file? What about directly accessing the recently introduced sqlite database?

[2021-12-07 13:10] binarybaron commented on #849
No worries, I know you guys are also working on other projects.

This is basically what we are doing at the moment, but it seems like something that should be handled by the cli itself. It would also help to be fully compatible with swaps initiated with the cli and not with our GUI, since we can't store logs manually for those and it would give us some important information about those swaps that

[2021-12-08 17:34] icy-ux opened #862 "`asb` log spam: "Communication error", "New connection established", "Lost connection to peer""
**Describe the bug**
The `asb` log file is full of connection-established / lost-connection entries. This makes it hard to find the entries regarding ongoing swaps. The connection-related entries are not very useful for debugging purposes, anyway.

**Lost/trapped Funds**
No

**Debug logs**
[code]

**Platform (please complete the following information):**

- ASB
- Software Version 0.9.0
- Operating

[2021-12-08 17:35] icy-ux commented on #862
Suggested fix: make connection-related logging optional and opt-in, probably enabled by a command line argument or environment variable.

[2021-12-10 21:23] icy-ux commented on #862
This seems to be resolved by switching to a private (locally hosted) `electrs` instance. I don't understand why it helped, but it did -- the log is now no longer full of these messages.

[2021-12-10 21:24] icy-ux commented on #797
Switching to a locally hosted `electrs` instance, instead of the default electrum node, seemed to help.

[2021-12-10 21:28] icy-ux opened #865 "Electrum queries are inefficient, may produce server bans"
Queries to the electrum server are done in an inefficient way. When using an `electrs` locally hosted back end, the following log messages are produced:
`your wallet uses less efficient method of querying electrs, consider contacting the developer of your wallet. Reason: blockchain.scripthash.get_history called for unsubscribed scripthash: c28a[......]`

This may be related to #797 where the (publ

[2021-12-10 21:49] icy-ux commented on #865
After several tries, I managed to do a successful swap between a local `asb` instance and my local client **only** when both `asb` and `swap` were using my local `electrs` server.

When either or both `asb` and `swap` were using the default public Electrum server, the swap errored out at one or the other point, with the CloseNotify issue discussed in #797

[2021-12-11 15:39] icy-ux commented on #862
Never mind. The messages have resumed, using a local electrum server didn't help.

[2021-12-12 05:34] jgreth0 commented on #695
Was there ever a resolution to this? I just ran into the same issue. Jumped from 9 to 12 confirmations, then hang.

[2021-12-12 06:06] jgreth0 commented on #695
Update: I force quit and tried the following:

+--------------------------------------+-----------------+
| SWAP ID                              | STATE           |
+========================================================+
| <xxxx> | btc is redeemed |
+--------------------------------------+-----------------+

Failed to generate monero wallet from keys: Failed to generate new wallet from keys: JS

[2021-12-12 17:40] binarybaron commented on #862
This is our backend (https://unstoppableswap.net/) retrieving the latest `BidQuote` from your server.

See: https://github.com/comit-network/xmr-btc-swap/issues/827

[2021-12-12 23:27] binarybaron commented on #848
@AlaattinK02 / @rishflab would you mind reopening this issue? I think this bug is still an issue

[2021-12-13 06:57] rishflab commented on #865
Thanks for writing up the issue.

I have not looked into this deeply but It seems like there has been changes to electrum, this is the first time I have seen this message. When we implemented this we put a fair bit of work in making the queries efficient as we were triggering DDoS protection.

We are happy to accept a PR on this. Alternatively running a local electrum server might be the best way

[2021-12-13 18:08] devbordecraft opened #873 "Make a list of default electrum node and fallback to one of them if the main one is unstable"
Kudos to @binarybaron

_Originally posted by @binarybaron in https://github.com/comit-network/xmr-btc-swap/issues/866#issuecomment-991933677_

[2021-12-15 17:02] icy-ux commented on #862
Thanks for clarifying. If the unstoppableswap.net backend can't make its
queries in a more silent way, I would still love to see a way to turn
the notifications off on my end.

On Sun, Dec 12, 2021 at 09:40:54AM -0800, binarybaron wrote:

[2021-12-15 17:28] icy-ux commented on #865
On Sun, Dec 12, 2021 at 10:57:52PM -0800, rishflab wrote:

I'm not an electrs or electrum developer, so I can't give any technical
background. I am currently running an electrum server and that fixed the
issue.

Unfortunately the issue also crops up when I run `swap`. I don't think
it's reasonable to expect a client (who is only running `swap`) to run
their own electrum server.

[2021-12-17 05:47] snafomatic opened #877 "Torified swap stuck at `btc is redeemed`"
**Describe the bug**
I have a locked down system where only connections through Tor are allowed. In this environment `swap` immediately fails trying to do a DNS lookup for the Electrum RPC client.  Using `torsocks` instead I was able to get to the `btc is redeemed` state but got stuck there.

On `swap resume` it tries re-opening the existing wallet, 2 minutes pass, and then it gets stuck trying to

[2021-12-17 09:20] snafomatic commented on #877
I was able to do it. Here's what was failing:

https://github.com/comit-network/xmr-btc-swap/blob/b95ad75c22f568d832cad06a59a24a74c780e4d9/swap/src/protocol/bob/swap.rs#L236-L239

Basically one api call is all that was needed (`sweep_all`). I did this with the Monero wallet cli:

[code]

A non-onion remote node might've worked too, idk. I tried without `torsocks` first and it failed like in the or

[2021-12-17 19:40] icy-ux opened #878 "Clarify BTC wallet export format"
Currently, the output of `export-bitcoin-wallet` looks something like this:
[code]
As it stands this cannot be imported into Electrum directly.

I tried converting it to a zprv using https://github.com/AbdussamadA/electrum-xprv however that didn't work either.

The documentation for `export-bitcoin-wallet` should explain how to convert the wallet descriptor into a format that works with standard w

[2021-12-18 18:38] yokoloho commented on #877
Hello, I had done swaps before but now I have similar problem:
[code]
after resuming I got:
[code]
From my swap log file:
[code]
I'm using Arch, swap 0.9.0.
When I open <swap-id>.keys wallets with GUI there are no XMR on them.
Please hint me where my monero is at the moment and how to get it. Thanks

[2021-12-19 19:32] yokoloho opened #879 "No unlocked balance after `btc is redeemed`"
**Describe the bug**
BTC -> XMR swap failed, can't receive (cancel don't work) BTC nor xmr.
There was 10 confirmations of locking monero by Alice.

I had done swaps before but this time I got  error after 10 monero tx confirmations:
[code]
after resuming for a second time I got:
[code]
cancel command message:
[code]
From my swap log file:
[code]

**Lost/trapped Funds**
Yes

**Debug logs**
Please p

[2021-12-20 00:58] da-kami commented on #537
We still see tickets that might be related to this problem, see #879 #877

[2021-12-20 03:22] da-kami commented on #879
This problem might be related to this ticket: https://github.com/comit-network/xmr-btc-swap/issues/537
We thought that this issue was related to a specific `monero-wallet-rpc` version. I checked the code of `0.9.0` and it points against `monero-wallet-rpc` `v0.17.2.0`. Latest is `v0.17.3.0`.

In rare cases we saw problems of the `monero-wallet-rpc` not picking up funds even though the transaction

[2021-12-20 03:37] da-kami commented on #848
I think this is another instance of https://github.com/comit-network/xmr-btc-swap/issues/537
I put up #880 to allow manual recovery. Unfortunately cannot do much else at the moment.

[2021-12-20 03:41] da-kami commented on #848
I just had a look and can confirm that it can be a problem if Bob goes offline before the Bitcoin are confirmed. (Because then the height might be incorrect). I will see to put another PR up that moves this to an earlier point. This is somewhat less efficient when generating the wallet, but it should not be noticeable from a UX point of view.

[2021-12-20 03:42] da-kami commented on #848
I just had a look and can confirm that it can be a problem if Bob goes offline before the Bitcoin are confirmed. (Because then the height might be incorrect). I will see to put another PR up that moves this to an earlier point. This is somewhat less efficient when generating the wallet, but it should not be noticeable from a UX point of view.

[2021-12-20 03:58] da-kami commented on #848
see: https://github.com/comit-network/xmr-btc-swap/pull/881

[2021-12-20 04:00] da-kami commented on #537
Some of the recently reported problems might actually be related to the monero wallet restore blockheight being wrongly recorded in scenarios where the CLI goes offline directly after locking the BTC (without waiting for confirmation).

This should fix it: https://github.com/comit-network/xmr-btc-swap/pull/881

[2021-12-20 04:54] da-kami commented on #729
Could not be reproduced using the latest version, closing for now.

[2021-12-20 04:54] #729 closed

[2021-12-20 04:56] #696 closed

[2021-12-20 13:05] yokoloho commented on #879
I was able to claim my funds using hints from last post in this issue: https://github.com/comit-network/xmr-btc-swap/issues/767
## solution
Note block number (height) from appropriate log file in ` ~/.local/share/xmr-btc-swap/cli/mainnet/logs`
Go to `~/.local/share/xmr-btc-swap/cli/mainnet/monero/monero-data`
Open wallet generated by swap tool `monero-wallet-cli --wallet-file <swap-id>` (default p

[2021-12-22 00:19] #766 closed

[2021-12-22 23:00] #879 closed

[2021-12-22 23:12] rishflab commented on #878
Have you tried this API

https://developer.bitcoin.org/reference/rpc/importdescriptors.html

eg.
[code]

What error message do you get?

[2021-12-23 03:24] #849 closed

[2021-12-26 12:22] binarybaron commented on #877
https://github.com/comit-network/xmr-btc-swap/issues/879

You can follow these steps to redeem the xmr manually. This issue has been fixed in the latest release and therefore won't occur for swaps initiated using the newest version anymore.

[2021-12-26 21:52] icy-ux commented on #878
After adding a trailing `'` (omitted in your example) and the `-rpcuser` and `-rpcpassword` entries, I get a Bash syntax error : `Syntax error at unexpected symbol: )`

This is probably because the descriptor emitted by `asb` contains single quotes:
[code]
It's not actually possible to escape single quotes within a single quoted string: https://stackoverflow.com/questions/1250079/how-to-escape-sin

[2021-12-27 14:33] binarybaron opened #901 "Move from ChronoLocal to LocalTime completely breaks terminal output in some cases"
**Describe the bug**
This commit https://github.com/comit-network/xmr-btc-swap/commit/9e85637419594f69d05e0d03767d66b07001a0ae completely breaks the terminal output for me on (tested on macOS 11.0.1 and Ubuntu 18.04) when the `--debug` flag is used. The terminal stays completely blank aside from the QRCode that is printed. I've tried reverting that commit and recompiled the binary and it fixed the

[2021-12-29 12:25] binarybaron commented on #901
The command `./swap balance` is also completely broken for me (even without the debug flag)

[2021-12-31 03:02] binarybaron opened #903 "Properly advance state when swap is manually refunded"
**Describe the bug**
When manually refunding a swap, the state that is saved in the database is not advanced properly.

[code]

**Lost/trapped Funds**
No

**Platform (please complete the following information):**

- CLI (probably also ASB)
- Software Version 0.10.2
- Operating System: Ubuntu

[2022-01-02 20:29] binarybaron commented on #903
https://github.com/comit-network/xmr-btc-swap/blob/3ce4dffb84d0c2e01b011864cd36dabc64faf25c/swap/src/protocol/bob/state.rs#L660-L666

https://github.com/comit-network/xmr-btc-swap/blob/3ce4dffb84d0c2e01b011864cd36dabc64faf25c/swap/src/protocol/bob/state.rs#L644-L658

It seems that you have to wait for the refund transaction to be confirmed with 2 confirmations and only then the state will be advan

[2022-01-03 08:02] rishflab commented on #901
I am guessing this happened because we updated the tracing dependencies

Happy to merge this now but I think we will have to upgrade these dependencies at some point.

[2022-01-03 08:27] #901 closed

[2022-01-13 01:05] gbanon opened #916 "reclaim funds"
**Describe the bug**
I initiated an atomic swap using the swap tool with not enough funds to cover the fee.  This however did not create and swap-id number so I can try to cancel....Need some help

**Lost/trapped Funds**
Yes

**Debug logs**
Please post your debug logs. You find them in:
2022-01-13T00:11:09.685996Z DEBUG Creating and using new sqlite database.
2022-01-13T00:11:09.693058Z DEBUG Read

[2022-01-15 12:21] binarybaron commented on #916
Run these commands to withdraw your BTC from the internal wallet.

./swap balance
./swap withdraw-btc --address your-refund-address

[2022-01-15 19:42] gbanon commented on #916
"swap balance" showed nothing in my case
"swap withdraw-btc --address"  worked and received my satoshis

thx for the help

[2022-01-15 19:42] #916 closed

[2022-01-17 08:47] ctlaltdefeat opened #920 "Error after "Waiting for Alice to lock Monero" on 0.05BTC swap"
**Describe the bug**
I initiated a swap that seemed to get stuck after "Waiting for Alice to lock Monero", and after a while some script error occurred. I initiated the swap with the command:
[code]
I'm unsure how to proceed given that it's a sizeable swap.

**Lost/trapped Funds**
Yes

**Debug logs**
[code]

[2022-01-17 08:59] ctlaltdefeat commented on #920
My current status is:
[code]
My bitcoin balance is 0:
`2022-01-17T10:56:01.7871416+02:00  INFO Checked Bitcoin balance balance=0.00000000 BTC`

Cancelling the swap doesn't work:
[code]

And refunding says this:
[code]

In the meantime and given lack of other options, I've resumed the swap. Nothing changes except that the log updates whenever the BTC transaction gets another confirmation.

[2022-01-17 12:47] 3s3s opened #921 "Where is asb log files?"
**Describe the bug**
I have started asb with the command " ./asb --testnet start", left all default options. It seems that application working but I have no log messages. I tried looking for the log file but couldn't find it anywhere. /var/log/asb - is empty.
`bash: cd: /home/asb/.local/share/xmr-btc-swap/logs: No such file or directory`

**Lost/trapped Funds**
No

**Debug logs**
no logs

**Platfo

[2022-01-17 13:44] binarybaron commented on #920
Remember that you have only 12 hours for the refund. If the cancel transaction receives 72 confirmations, you will be punished and won't be able to refund anymore.

[2022-01-17 13:49] ctlaltdefeat commented on #920
I'm now not able to reach Alice:

[code]

Does this change what I'm doing in any way?

[2022-01-17 13:56] binarybaron commented on #920
No, this should not be a problem afaik. Otherwise, refund the swap manually with the cancel and refund command

[2022-01-17 21:18] ctlaltdefeat commented on #920
I did not have to do any manual intervention, it got cancelled and refunded:
[code]

I guess at the very least there should be more robust documentation of the potential for this issue, how long to expect to wait for Alice under normal conditions etc., although I suppose this is probably not new feedback.

[2022-01-17 21:18] #920 closed

[2022-01-19 13:32] ar- opened #922 "Lost funds 3 times in 3 different ways"
**Describe the bug**
1. I tried it the first time. Then the things told me (after broadcasting the BTC transaction) that the other party doesn't actually have the funds (like 10 EUR). So I paniced and refunded the transaction by doublespending it with a higher fee. Here I lost only the fee of the BTC txn.

2. I tried it again and this time I got endlessly stuck in "Waiting for Alice to lock Monero

[2022-01-22 05:25] xmrswapme commented on #922
In the case of 1 & 3, I am familiar with as I have tested swaps and received the "No money" problem. What you need to do, and can probably still do is run the following command - though I'm not sure it will help if you did this inside a docker container. It's best to stick with the direct commands so you don't have temporary storage. However if you can access the docker container swap command do t

[2022-01-22 05:47] xmrswapme commented on #921
I believe you will only get a logfile if you run it as a systemd daemon. We run ours in the console and constantly monitor it for the reason on not producing log files. Piping tee doesn't seem to help either if you looking to also output to a logfile.

[2022-01-22 05:50] xmrswapme commented on #878
Sparrow wallet properly handles the private key. I switched to that as I spent hours with Electrum trying to input it same as you. Sparrow has many other added features worth using too.

[2022-01-22 05:55] xmrswapme commented on #835
I ran into this issue in my script to **BidQuote** ASB providers. I found a workaround by crontab running a small shell script that pkills -f monero-wallet-rpc, then every new BidQuote instance is determined by a new path which is the MD5 sum of seconds since epoch. This allowed me to have the script run each time because it used a new directory everytime. The directory was automatically purged af

[2022-01-25 16:15] denationalized opened #926 "No results with `swap list-sellers --rendezvous-point /dnsaddr/discover.unstoppableswap.net/p2p/12D3KooWA6cnqJpVnreBVnoro8midDL9Lpzmg8oJPoAGi7YYaamE --tor-socks5-port 9050`"
**Description**
I ran `./swap list-sellers --rendezvous-point /dnsaddr/discover.unstoppableswap.net/p2p/12D3KooWA6cnqJpVnreBVnoro8midDL9Lpzmg8oJPoAGi7YYaamE --tor-socks5-port 9050` I got no results, i.e.:
[code]
Customizing the TorSocks port in `/etc/tor/torrc` does not better anything.

**Lost/trapped Funds**
No

**Debug logs**
I have not found any logs in `~/.local/share/xmr-btc-swap`, `~/.local

[2022-01-28 18:18] binarybaron opened #929 "Event loop doesn't swallow communication error: Expired time locks are not detected"
**Describe the bug**
I initiated a swap and exited the CLI after Alice locked her Monero. 24 hours later, Alice published the cancel tx and the punish tx. I then resumed the swap, but this caused the CLI to "crash" because Alice would not allow Bob to send her the encrypted signature. This also means that Bob is not picking up on the punish tx and cannot provide any meaningful feedback to the user

[2022-01-28 19:58] denationalized opened #930 "Lost (trapped?) funds - Seller's XMR balance is currently too low to fulfill the swap"
**Describe the bug**
I got the following instructions from the website:
[code]
As I already had the latest version of `swap` installed I executed only:
[code]
and I got the following output:
[code]
I saw the QR code and the deposit address - everything seemed fine. I then paid 0.01 BTC to `bc1***` with 1 sat/Byte. While the transaction
was still in the mempool I received the rest of the output:
[c

[2022-01-28 20:44] denationalized commented on #930
**Update**: I ventured `./swap withdraw-btc --address bc1****` and it restored my Bitcoin.

[2022-01-29 01:55] binarybaron commented on #930
Glad you got your funds back! Would you mind closing this issue?

[2022-01-29 01:55] binarybaron commented on #929
Possibly related to this https://github.com/comit-network/xmr-btc-swap/issues/828 issue by @rishflab

[2022-01-29 05:48] tiltsh1ft opened #931 "Swap stuck in "Cancel timelock is expired" state"
**Describe the bug**
I started a swap (as a buyer) where the monero got locked but then I kept getting something about a timeout in the event loop that was preventing the next step from being reached and then the time lock expired on my btc. I can't do anything with the swap now. If I try to resume I get an electrum senddrawtransaction RPC error about:
[code]

If I try to cancel I get:
[code]

and

[2022-01-29 07:47] #930 closed

[2022-01-29 11:39] binarybaron commented on #931
What is printed when you run `./swap history`?

Can you try running the cancel/refund commands with the `--force` flag? This has been removed in the latest version but might still exist in the version you are running.

[2022-01-29 13:08] binarybaron commented on #926
I don't think this is a bug. ASBs can only register at one rendezvous point at a time and there just isn't a mainnet ASB registered with this specific rendezvous point.

[2022-01-29 14:04] tiltsh1ft commented on #931
Thanks, I was worried that might be the case. I'll close this out and remove the logs. I think the suggestion from your PR is a good one. I got burned a couple times by this now. Appreciate the quick response.

[2022-01-29 14:04] #931 closed

[2022-02-02 00:08] binarybaron commented on #929
https://github.com/comit-network/xmr-btc-swap/issues/844#issuecomment-966333177

[2022-02-04 22:21] binarybaron commented on #865
I analyzed the outgoing traffic of the Bob and the Cli is making tons of `blockchain.scripthash.get_history` calls to the electrum server. We may need to replace that with a subscription.

`{"method":"blockchain.scripthash.get_history","params":["71fc8007a74346f8d3f8748936857173e2d3bd74fbbd8d52951c347863a5bad2"],"id":2693}`

[2022-02-06 22:57] thomaseizinger opened #936 "Looking for maintainers"
Interested in atomic swaps? Love coding Rust?

This project is looking for an active maintainer. There is a ton of interesting code in here, ranging from peer-to-peer networking, state machines to next-level cryptography for non-custodial protocols.

Mentorship to ease the on-boarding will be provided but it would be good if you bring a good chunk of curiosity yourself.

If you are interested, pin

[2022-02-07 21:53] binarybaron opened #938 "Failing tests due to deleted XMR.to docker image"
**Describe the bug**
The docker image that is being used for the monero tests has been deleted.

https://github.com/comit-network/xmr-btc-swap/blob/5373f697ed9ad71a1b832a677288c332b9d1f9cc/monero-harness/src/image.rs#L28

https://hub.docker.com/search?q=xmrto%2Fmonero%3Av0.17.2.0&type=image

I thought that this could be fixed by replacing this with [melotools/monero](https://hub.docker.com/r/melot

[2022-02-09 18:53] binarybaron opened #939 "Adjust quote based on Bitcoin balance"
The maximum swap amount should be calculated based on the Balance of the internal bitcoin wallet. A swap failing after depositing Bitcoin leads to poor UX.

[2022-02-12 03:27] SovereignAndrey commented on #936
Hi @thomaseizinger Would be interested in getting involved! :)

[2022-02-13 22:25] thomaseizinger commented on #936
Hi @SovereignAndrey!

That is great! Let's connect on Matrix to work out the details: @thomaseizinger:matrix.org

[2022-02-16 17:19] lescuer97 commented on #936
Hi @thomaseizinger I could be interested in being a mantainer!,  I've already sent you a matrix message ;)

[2022-02-20 09:42] LeoNero commented on #936
Hi @thomaseizinger . I want to work with Monero during the summer so this is something that interests me.

[2022-02-20 14:10] gwumkt commented on #844
anyone was able to solve that?
﻿
<img width="1556" alt="Screenshot 2022-02-20 at 4 08 58 PM" src="https://user-images.githubusercontent.com/28900951/154846738-a3238b20-d375-4c42-85f6-810d0ccbb579.png">

[2022-02-20 16:41] delta1 commented on #936
Hey @thomaseizinger i am a rust developer at tari-project/tari - very keen on helping out. I’ll ping you on matrix

[2022-02-21 00:47] elibroftw commented on #349
https://github.com/seanmonstar/reqwest/issues/483#issuecomment-674409725 may be useful if anyone is going to try to implement this

[2022-02-21 15:42] binarybaron commented on #938
https://github.com/comit-network/xmr-btc-swap/pull/942

[2022-02-21 16:48] lescuer97 commented on #939
it would probably be better if  the balance is smaller than the config given one then you should put the balance quote

[2022-02-21 17:44] binarybaron commented on #939
Yes, definitely

[2022-02-22 08:28] delta1 commented on #938
#942 merged, thanks @binarybaron !

[2022-02-22 08:28] #938 closed

[2022-02-22 08:30] delta1 commented on #938
Weird they passed in #942 but I had the same failure locally, will take a look and potentially make a new issue.

[2022-02-23 11:02] binarybaron opened #952 "Display btc lock tx fees to user"
When the deposit address is displayed to the user, the network fees should be shown next to the minimum and maximum amount. Otherwise, the end user will not be able to predict exactly what amount of Bitcoin to send to initiate a swap.

[2022-02-24 14:19] binarybaron opened #955 "Docker Image for ASB"
The maintenance and operation of an ASB can be quite complex. A simple Docker image for running an ASB might be useful. Docker seems perfect for this, since you are essentially running a set of microservices (monerod, bitcoind, monero-wallet-rpc, electrum, asb).
If anyone here has some experience with Docker, it it would be great if they could make a small Dockerfile.

[2022-02-24 15:00] delta1 commented on #955
Great idea

[2022-02-24 18:20] xhwmerhfity opened #956 "ASB Balance Command broken?"
When I try to check the balance using "asb balance" a prompt appears "Enter data directory for asb or hit return to use default" as if a new instance of the asb is being initiated.

This appears to be an error?

The asb instance is stopped at the time of trying to check the balance and otherwise runs correctly.

(This also happens when using "asb withdraw-btc" to withdraw bitcoin)

At the moment I

[2022-02-24 18:36] delta1 commented on #956
What command are you using to run `asb` ? Is it testnet or mainnet?

Is it possible when you are calling `asb balance` you're running a different copy of the binary?

[2022-02-24 18:41] xhwmerhfity commented on #956
Running on mainnet.

Launched using: sudo systemctl start asb
Trying to check balance using: asb balance

Is this a syntax error on my part?

I've used the guide at sethforprivacy.com
Everything else works great (shows up on rendezvous, can start swaps etc.)

Thanks for replying.

[2022-02-24 18:52] delta1 commented on #956
Right so when you run as sudo you are running the binary as root. Without sudo you are running as your own current user.

Try ‘sudo asb balance’

[2022-02-24 19:01] xhwmerhfity commented on #956
Thanks. Yeah I've tried that with the same result.

Is there a way I can check the Bitcoin wallet has been created correctly (I don't see anything in the asb.log file saying that there's been a problem).

[2022-02-24 19:15] delta1 commented on #956
You may need to try read the systemd logs since you’re running it as a service.

What does “asb config” give you? The same prompt? Where is it installed? You can try “which asb”

[2022-02-24 19:16] delta1 opened #960 "Investigate docker test timeouts"

[2022-02-24 19:29] delta1 commented on #956
From Seth’s guide [1] it looks like systemd is running asb as the user “asb” so I think you’ll need to run the command as that user

[1]: https://sethforprivacy.com/guides/run-an-atomic-swap-provider-advanced/

[2022-02-24 21:26] gwumkt opened #961 "XMR is Locked - EOF ?"
**Describe the bug**
anyone was able to solve that?

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/28900951/155610453-aafcf2fe-7ac9-469e-8588-ee7e29c172a7.png">

**Lost/trapped Funds**
Yes

**Platform (please complete the following information):**

- CLI
- 0.10.2
- WIN

[2022-02-24 23:14] lescuer97 opened #962 "Account for the locking fee for the quoting for sale"
As mentioned by @binarybaron in this [PR](https://github.com/comit-network/xmr-btc-swap/pull/953#discussion_r813599982) The Monero locking fee should be subtracted from the max amount to trade.

[2022-02-24 23:18] lescuer97 opened #963 "Check if the min_buy config is higher than the max_amount to trade"
@binarybaron  [solution](https://github.com/comit-network/xmr-btc-swap/pull/953#discussion_r813765873) of setting both min and max configs to zero and not accepting the swap is not a bad idea.

[2022-02-25 06:47] binarybaron commented on #962
I don't think we need another PR for this. Afaik this is already done for when the actual swap is started. You just need to subtract the fee from the Monero balance when calculating the `max_quantity`

[2022-02-25 14:03] lescuer97 commented on #962
you where right about this. I Added the fix [here](https://github.com/comit-network/xmr-btc-swap/pull/953/commits/ce54af8418747681fb815bbfe74255c154b1b731)

[2022-02-25 14:04] lescuer97 commented on #962
you where right about this. I added the fix [here ](https://github.com/comit-network/xmr-btc-swap/pull/953/commits/ce54af8418747681fb815bbfe74255c154b1b731) ;)

[2022-02-25 14:04] #962 closed

[2022-02-26 10:49] xhwmerhfity commented on #956
Thanks for your help. Will reinstall and test on Monday - if it works I won't be so hasty posting issues in the future :)

[2022-03-01 11:46] lescuer97 commented on #956
@xhwmerhfity did you manage to getting it working withthe asb user?

[2022-03-04 16:43] lescuer97 commented on #955
@sethforprivacy  mentioned in his [post on setting up the ASB ](https://sethforprivacy.com/guides/run-an-atomic-swap-provider-advanced/#background) that he was developing a container for the ASB. Have you had any progress @sethforprivacy ?

[2022-03-04 18:14] sethforprivacy commented on #955
Sadly I haven't had the time to dedicate to it so I haven't attempted it yet.

I built a monerod docker container that would pair well with the rest in Docker Compose, and I started working on a monero-wallet-rpc image that would work well also -- but I haven't started pairing them all together.

[2022-03-05 13:06] binarybaron opened #969 "melo.tools is migrating to community.rino.io"
We need to migrate the default remote node and the docker images for the CI tests.

https://www.reddit.com/r/Monero/comments/t770no/migration_of_melotools_to_communityrinoio/

[2022-03-06 18:27] elibroftw opened #970 "ASB Error: Not a terminal when Alt Tabbing"
**Describe the bug**
Simply start the asb
[code]
And when input is prompted, Alt Tab and the terminal will error out!

**Lost/trapped Funds**
No

**Debug logs**
Please post your debug logs. You find them in:
Linux: /home/<user>/.local/share/xmr-btc-swap/logs
OSX: /Users/<user>/Library/ApplicationSupport/xmr-btc-swap/logs

**Platform (please complete the following information):**

- ASB latest
- Op

[2022-03-06 19:01] elibroftw opened #971 "Error: Unable to create Monero wallet (Cannot create wallet. Already exists.)"
**Describe the bug**

First, there's no easy way to rerun the interactive configuration. I deleted the config file to trigger it.
Therefore, I'm not sure if this error is because I ran `asb start` a second time or because I deleted the config file.
Someone else can figure out the race condition.

[code]

**Lost/trapped Funds**
Yes or No

**Debug logs**
Please post your debug logs. You find them in

[2022-03-06 19:28] elibroftw opened #972 "How to Withdraw Monero from ASB Wallet?"
**Describe the bug**

No easy way to withdraw XMR. I sent some XMR to test the ASB but given the two other issues I've faced, I won't be trying again for a while.

**Lost/trapped Funds**
Yes

**Debug logs**
Please post your debug logs. You find them in:
Linux: /home/<user>/.local/share/xmr-btc-swap/logs
OSX: /Users/<user>/Library/ApplicationSupport/xmr-btc-swap/logs

**Platform (please complete th

[2022-03-06 19:33] elibroftw opened #973 "How to use Swap Without Redezvous Point or Add Better DOCS for Redezvous Points"
**Describe the bug**

[code]

Before I encountered the first 2 issues, I had run the asb without a redezvous point. I have no idea what a redezvous point is nor do I know how to use it nor do I know how to create one! There's no documentation just a url to libp2p. This is a huge concern.

Since the asb was running, I was wondering if the swap could detect it, so I ran the above command and that's

[2022-03-07 19:20] lescuer97 commented on #972
you can connect to the wallet from the [monero-wallet-cli](https://www.getmonero.org/resources/user-guides/monero-wallet-cli.html) and transfer the monero from there.

[2022-03-07 19:23] elibroftw commented on #972
If it were that easy, I wouldn't be asking. I couldn't find any *.keys file.

[2022-03-07 19:26] lescuer97 commented on #972
have you check in the windows trash for it? If you don't have it would be really weird because they get created in the same place that abs-wallet

[2022-03-07 19:46] elibroftw commented on #972
![image](https://user-images.githubusercontent.com/21298211/157106878-06201212-2963-4280-9705-014f32fd8dae.png)

[2022-03-07 19:47] elibroftw commented on #972
There's also a seed.pem file, but I have no idea what it's for nor how I get its contents.

[2022-03-07 20:02] #972 closed

[2022-03-07 20:07] elibroftw commented on #972
The docs should mention that the password is empty and that the wallet will be created in the same directory as the wallet that was opened and not in its own directory.

I'd rather prefer to be able to withdraw the funds from the CLI. As you can see I don't store the wallet files opened by RPC in the same directory as the wallet files since the GUI and the RPC cannot open the wallet file simultane

[2022-03-08 23:43] #939 closed

[2022-03-09 05:34] thomaseizinger commented on #963
Closed in #953.

[2022-03-09 05:34] #963 closed

[2022-03-10 08:42] lescuer97 commented on #973
you are free to do a PR and help us improve our docs ;)

[2022-03-10 20:21] elibroftw commented on #973
I would if I knew how to do it.

[2022-03-13 09:41] iodraft opened #976 "BTC lost, while XMR never got locked (OutputBelowDustLimit)"
**Describe the bug**
Initiated a swap to xmr for 0.001 btc (~40 usd) 8 hours ago, but still I have the status "Waiting for Alice to lock Monero". It seems that the btc have (maliciously?) [been moved away](https://www.blockchain.com/btc/address/bc1qahkky3k2k2ajgfwsl59vjln025whuvhc8szpaz) from the multisig wallet. According to [this](https://www.reddit.com/r/Monero/comments/pb3f5a/sooo_i_lost_003_b

[2022-03-13 13:36] iodraft commented on #976
Update. It seems that the issue solved itself. After the 72 block mark, then I saw this. Since Alice took to long to lock Monero, the swap was canceled and the protocol automatically refunded my btc back to me. Value is a little lower due to the lost fees, but it's better than losing all of it. Closing this issue.
![image](https://user-images.githubusercontent.com/101499068/158062054-a4f1efff-09ab

[2022-03-15 06:40] danilka2712 commented on #961
The same problem, who solved it, tell me how?

[2022-03-17 15:45] adamillver3 opened #986 "Waiting for Alice to lock Monero"
So I started a swap and everything went okay til I saw that like 3 btc confirmations have been completed and it was still stuck at:
Waiting for Alice to lock Monero
And then I accidently exited the powershell then went to logs to see what happend and even though on the shell it didnt say there it showed a line
`2022-03-17T13:44:40.826228Z  INFO Alice locked Monero txid=`
I resumed the swap
` ./swa

[2022-03-18 08:59] delta1 commented on #986
Hey have you tried

`./swap withdraw-btc --address <your address that you want to deposit to>`

[2022-03-18 09:00] delta1 commented on #986
Please also see here

https://sethforprivacy.com/guides/bitcoin-monero-atomic-swaps/#what-to-do-if-the-swap-fails

[2022-03-20 11:26] #969 closed

[2022-03-20 20:53] lescuer97 opened #988 "Check for the latest version"
Would be useful for the end user to be notified if there is a new version, so they get the latest features and fixes

[2022-04-03 09:00] #848 closed

[2022-04-08 04:31] refactor-ring commented on #692
This happens due to restraints on the multiaddr format (and rust crate), it requires a port number for an onion/onion3 multiaddr and the .onion extension should be left out.

So the following would work:
./swap list-sellers --rendezvous-point /onion3/yshgpjmwxcgsj7rxjdwruqyimlecao7esabh3tunjzrs5u5aoseozzyd:8888/p2p/12D3KooWCULyZKuV9YEkb6BX8FuwajdvktSzmMg4U5ZX2uYZjHeu

Most of the multiaddr impleme

[2022-04-09 11:51] martinoshub opened #993 "list-sellers hangs, no debug information available"
**Describe the bug**
Unable to list sellers at any rendezvous point: the software either hangs or returns an empty list.

- It hangs when I provide it something it can start out on. Example: /dnsaddr/rendezvous.coblox.tech/p2p/12D3KooWQUt9DkNZxEn2R5ymJzWj15MpG6mTW84kyd8vDaRZi46o

- It displays an empty list if I provide it an incorrect rendezvous point on purpose.

- It displays an empty list if I

[2022-04-09 13:53] delta1 commented on #993
Thanks for the report, will look into it

[2022-04-09 16:51] binarybaron commented on #929
The same issue occurs when Bob locks his BTC and Alice then goes offline. Bob will not automatically refund because the cli will crash.

[2022-04-09 17:04] binarybaron opened #994 "Static Analysis CI fails"
**Describe the bug**
The static analysis dprint CI check fails. This is blocking all PRs from being merged.

**Debug logs**
[code]

(https://github.com/comit-network/xmr-btc-swap/runs/5955982839?check_suite_focus=true)

[2022-04-12 16:41] porcelinslightly opened #1000 "BTC Return Not Recieved"
**Describe the bug**
A clear and concise description of what the bug is.

**Lost/trapped Funds**
Yes or No

**Debug logs**
Please post your debug logs. You find them in:
Linux: /home/<user>/.local/share/xmr-btc-swap/logs
OSX: /Users/<user>/Library/ApplicationSupport/xmr-btc-swap/logs

**Platform (please complete the following information):**

- CLI or ASB [eg. CLI]
- Software Version [e.g. 0.8.3]

[2022-04-12 17:05] porcelinslightly opened #1001 "Unstoppableswap BTC returns"
**Describe the bug**
my issue, as well as the things that I have tried, are on https://www.reddit.com/r/monerosupport/comments/sum79n/unstoppableswap_btc_refunds/:
 My assumption of it is that there was a liquidity problem.

**Lost/trapped Funds**
Yes.

**Debug logs**
Please post your debug logs. You find them in:
Linux: /home/<user>/.local/share/xmr-btc-swap/logs
OSX: /Users/<user>/Library/Applic

[2022-04-13 11:33] #994 closed

[2022-04-14 07:55] #829 closed

[2022-04-14 08:38] binarybaron commented on #1001
Please run the following in Powershell:
[code]

[2022-04-14 08:48] #903 closed

[2022-04-14 12:55] delta1 opened #1007 "improve error message when trying to cancel before timelock"
after locking btc, attempting to cancel before the timelock gives this error

[code]

This should be a better error message indicating the status

[2022-04-14 22:40] binarybaron commented on #852
Closed with https://github.com/comit-network/xmr-btc-swap/commit/ebb7d24660a0dbe610208d46740d54c72ffaef9a

[2022-04-14 22:40] #595 closed

[2022-04-14 22:43] binarybaron commented on #952
Duplicate of https://github.com/comit-network/xmr-btc-swap/issues/559

[2022-04-14 22:43] #952 closed

[2022-04-14 22:44] binarybaron commented on #559
I'd say we fix this by showing the network fees next to the minimum and maximum amount. Otherwise, the end user will not be able to predict exactly what amount of Bitcoin to send to initiate a swap.

[2022-04-14 22:46] #572 closed

[2022-04-14 22:46] binarybaron commented on #835
https://github.com/comit-network/xmr-btc-swap/issues/835 is duplicate of this issue

[2022-04-14 22:52] binarybaron commented on #455
Closed with https://github.com/comit-network/xmr-btc-swap/commit/3660a08b96feefe6a37795c19b0063973c9dc917

[2022-04-15 06:05] #455 closed

[2022-04-15 06:05] delta1 commented on #455
Nice!

[2022-04-15 06:20] #852 closed

[2022-04-15 09:30] delta1 commented on #1007
Duplicate of #682

[2022-04-15 09:30] #1007 closed

[2022-04-15 09:35] delta1 commented on #936
Current maintainers are:

@binarybaron
@lescuer97
@delta1

If you are interested in helping please reach out to us in the Comit-Monero matrix channel

https://matrix.to/#/%23comit-monero:matrix.org

[2022-04-15 09:35] #936 closed

[2022-04-15 16:39] binarybaron commented on #971
Probably related to https://github.com/comit-network/xmr-btc-swap/issues/835

[2022-04-16 00:54] elibroftw commented on #971
I don't think so

[2022-04-16 03:59] binarybaron commented on #971
Can you do a `ps | grep monero-wallet-rpc` before starting the asb a second time?

[2022-04-18 02:49] #844 closed

[2022-04-18 13:53] porcelinslightly commented on #1001
Thanks very much for the reply. The command received the following response:

+---------+-------+
| SWAP ID | STATE |
+=================+
+---------+-------+

[2022-04-18 20:55] binarybaron commented on #1001
You should be able to run the command below to withdraw your BTC
[code]

[2022-04-19 10:30] porcelinslightly commented on #1001
This worked, excellent, thanks so much!

[2022-04-19 10:30] #1001 closed

[2022-04-19 12:16] binarybaron opened #1018 "[0.25 XMR] Bob ignores transfer proof when he is running another swap when receiving the proof"
**Describe the bug**
There seems to be an issue where the monero lock transaction transfer proof is not properly received by Bob or not sent properly by Alice. This results in the swap not being able to be completed. Bob will wait for the transfer proof indefinitely until he is able to refund. I think this is because Bob initiated two swaps with Alice at the same time that were then running concur

[2022-04-20 14:57] binarybaron opened #1020 "[0.2 XMR] Consider merging refund and cancel command into one"
There is not really a reason for the end user to disguise between the two. They must always be executed together anyway.

[2022-04-20 15:32] binarybaron commented on #796
Done

[2022-04-20 15:32] #796 closed

[2022-04-25 11:55] da-kami commented on #929
It would be great to have a bit more context in this ticket, so I am driving by to add some.

In the issue description you mention

As far as I could understand this issue concerns *automatic* refund without user interaction, i.e. without triggering `resume` or `cancel` + `refund`. Or is this a "permanent" error, where `refund` and `cancel` would fail as well?

Some food for thought:
It can be tri

[2022-04-25 12:06] #976 closed

[2022-04-25 12:09] da-kami commented on #1018
https://github.com/comit-network/xmr-btc-swap/issues/411 might be related

[2022-04-25 17:36] binarybaron commented on #929
I suspect that the swap can be recovered using the `cancel + refund` command. However, in this case Bob has already been punished. Therefore, the swap will never be able to be completed.

[code]

No, I think you are correct. This is the problem here. When Bob sends the "encsig", Alice ignores it because she has already punished Bob and in her view the swap has been completed. Bob will error out, b

[2022-05-10 21:19] elibroftw commented on #971
I can barely do anything useful if https://github.com/comit-network/xmr-btc-swap/issues/970 is stopping me from entering an RPC port. 🤦‍♂️

[2022-05-10 21:24] elibroftw commented on #835
It is not a duplicate btw. My issue is ASB this issue is swap.

[2022-05-10 21:37] elibroftw commented on #971
And this bug occurs without deleting the config file.

[2022-05-10 21:38] elibroftw commented on #971
The monero-wallet-rpc will run because it is manually run by me. The ASB does not spawn a monero-wallet-rpc.
The bug is that the asb thinks the wallet does not exist even though it does so it tries to create a wallet and that fails!

[2022-05-11 14:19] binarybaron commented on #970
Can you give some more information on your system etc?

[2022-05-11 14:21] binarybaron commented on #971
Please watch your language. All active contributors are unpaid volunteers. No one owes you anything.

[2022-05-11 15:54] elibroftw commented on #971
🤦‍♂️

[2022-05-12 05:12] binarybaron commented on #971
Yeah, you're right. This is probably what's happening here. Is it fixed by restarting the rpc?

[2022-05-14 02:58] elibroftw commented on #971
Yes it works if I restart the RPC

[2022-05-27 17:31] delta1 opened #1037 "Signed hashes for releases"
Reported by marchanton on matrix:

[2022-06-02 09:06] delta1 commented on #1037
Some steps that would be necessary to achieve this:

- [ ] record the SHA256 hash of each binary/archive in the release in a text file to be included with the release
- [ ] a GPG signature from one or more maintainers signing the hashes text file should be included with the release
- [ ] the maintainer GPG public keys should be included in the code repository (as an example see the [monero](https:

[2022-06-14 10:47] outhud commented on #993
Seeing the same issue.
./swap list-sellers --rendezvous-point /ip4/45.138.50.29/tcp/9939/p2p/12D3KooWMgGjeW7ErQxCQzaeHiXxJn42wegCPFepixEXfBJT1PNS

hangs and shows no output

[2022-06-27 21:11] icy-ux opened #1043 "`asb` hangs at "Opening Bitcoin wallet""
**Describe the bug**
My `asb` instance has been running for a while. Recently, without any apparent changes on my part, it has ceased being able to start. It simply hangs at "Opening Bitcoin wallet".

This also happens when I try to run `asb` with commands that access the wallet, such as showing the wallet descriptor or current balances.

The logs for `electrs` and `bitcoind` don't show anything u

[2022-06-28 05:33] delta1 commented on #1043
No error message of any sort?

[2022-06-28 05:36] delta1 commented on #1043
You might have to use strace to see where it’s getting stuck on that file

https://strace.io/

I will look into the code after that last debug message to see if some additional info can be added to debug.

[2022-06-28 09:37] delta1 commented on #1043
It looks to me like it is probably trying to sync the wallet after opening it.

https://github.com/comit-network/xmr-btc-swap/blob/3ce4dffb84d0c2e01b011864cd36dabc64faf25c/swap/src/bin/asb.rs#L328

If there were an earlier error it would have exited. I'd suggest making sure that your `electrum_rpc_url` config is connectable and responding to queries, and then try start the asb and just give it a g

[2022-06-28 18:46] icy-ux commented on #1043
On Mon, Jun 27, 2022 at 10:33:37PM -0700, Byron Hambly wrote:

None that I can see.

[2022-06-30 10:11] delta1 opened #1044 "bitcoin wallet recovery"
re: #1043

Add a "recovery" binary that opens retrieves the seed phrase of the bitcoin wallet.
Can `bdk-cli` do this? If so, add instructions.

[2022-06-30 10:21] delta1 commented on #1043
@icy-ux have you tried `asb withdraw-btc` ?

[2022-06-30 15:18] icy-ux commented on #1043
On Tue, Jun 28, 2022 at 02:37:42AM -0700, Byron Hambly wrote:

Turns out the electrum server had crashed.

Suggestion: the `asb` instance shouldn't lock up if the electrum
server stops responding. The `asb` binary should exit with an error
code, or keep retrying but log error messages.

Steps to troubleshoot:

It had been hanging at "Opening Bitcoin wallet" for almost 24 hours now,
with no change.

[2022-06-30 15:37] delta1 commented on #1043
Okay nice find! I’ll make a new issue about that message, glad you’ve got it sorted.

[2022-06-30 15:45] delta1 commented on #865
Some info here too

https://github.com/bitcoindevkit/bdk/issues/618

[2022-07-22 03:26] SIEVEofEratosthenes opened #1055 "ASB v0.10.1 Not re-registering with Rendezvous node"
**Describe the bug**
We run a rendezvous node, and while in our logs wee see that we have a few users adding their ASB to our rendezvous, after a few hours the node expires and never renews. With rendezvous v0.1.0, we noticed a re-registering of the nodes after expiry. Not sure if this is with ASB or rendezvous v0.2.0, so I'm posting here

As such, after a few hours a `list-sellers --rendezvous-po

[2022-07-22 05:07] delta1 commented on #1055
Hey thanks for reporting, will take a look

[2022-07-22 18:00] Scalena opened #1060 "Plug-in hook for custom quotes on the ASB"
By providing a hook for a plug-in to be queried on a quote request, two features could be added to the ASB:
- Users could determine their exchange rate using a custom algorithm instead of using a Kraken-style websocket plus a fixed spread percentage.
- Users could dynamically set their `min_buy_btc` and `max_buy_btc` limits using a custom algorithm, for example based on their wallet balances.

The

[2022-07-23 03:37] robert-j-webb opened #1061 "`monero-wallet-rpc` failed to fetch transaction while doing a transaction"
Not sure quite what's going on here, but when doing a normal transaction, I'm seeing

[code]

And the monero wallet rpc message keeps repeating.

[2022-07-25 10:11] delta1 commented on #1055
Hey @SIEVEofEratosthenes I've been digging into this, and I'm not able to reproduce the issue.

We've got a [passing unit test here](https://github.com/comit-network/xmr-btc-swap/blob/b371827b863a26dc3bdfc7dce4b032989ad7580d/swap/src/asb/network.rs#L418), and when I tested locally my ASB was re-registering at the given TTL (which defaults to 2 hours)

I suspect that those registered ASBs have just

[2022-07-25 10:13] delta1 commented on #1060
Hey @Scalena, thanks for submitting. I like the idea and will think about it and investigate a bit. Do you have suggestions or references for similar plugin systems implemented elsewhere I could look at?

[2022-07-26 11:18] delta1 commented on #1061
Did you try restarting monero-wallet-rpc ? Does the same message persist?

[2022-07-26 13:12] binarybaron opened #1063 "Timelocks are not detected"
**Describe the bug**
In some cases the CLI doesn't detect the expired cancel/refund timelock.

As a result:
1. It doesn't automatically cancel & refund a swap when it needs to.
2. It doesn't detect when the swap has been punished. The swap can therefore never be completed
3. Mysterious errors are thrown `Error: Internal error: canceled state reached before cancel timelock was expired`

**Lost/trap

[2022-07-26 14:15] binarybaron commented on #929
https://github.com/comit-network/xmr-btc-swap/issues/1063 is probably related. There seems to be an underlying issue with how we detect expired time locks.

[2022-07-26 14:19] binarybaron commented on #761
We use bounties to incentivize development and reward contributors. All issues available for a bounty have the `Bounty 💰 ` label.

To receive a bounty, you agree to these conditions:

- Your changes must follow the [styling guidelines](https://github.com/comit-network/xmr-btc-swap/blob/master/CONTRIBUTING.md).
- Bounties will be set and awarded at discretion of @binarybaron .
The issues eligible f

[2022-07-26 15:39] delta1 commented on #761
Hey! I plan to start taking a look at this tomorrow 👌

[2022-07-26 18:15] binarybaron opened #1064 "Bounties and development incentives 💰"
We use bounties to incentivize development and reward contributors. All issues available for a bounty have the Bounty 💰 label.

To receive a bounty, you agree to these conditions:

- Your changes must follow the [styling guidelines](https://github.com/comit-network/xmr-btc-swap/blob/master/CONTRIBUTING.md).
- Bounties will be set and awarded at discretion of @binarybaron .
- The issues eligible fo

[2022-07-26 18:16] #1064 closed

[2022-07-26 21:22] SIEVEofEratosthenes commented on #1055
Thanks a bunch for looking into this. I checked again, and the ASB instance did not re-register, but I was able to begin conducting a swap with the provider, showing that it was in fact online.   I also have coded a "ping" client that monitors the uptimes of the providers, and I'm seeing a ping from the host on my ASB every 10 minutes. Here are some screenshots of the Rendezvous server where it sh

[2022-07-27 12:09] delta1 commented on #1055
I will try to reproduce this with your rendezvous

[2022-07-27 12:13] binarybaron commented on #929
https://github.com/comit-network/xmr-btc-swap/blob/d7a60287f7449a2d0a6218b460e1bfdb3be5b73b/swap/src/protocol/bob/swap.rs#L127-L146

Same issue here. If the CLI can't receive the transfer proof it will bail and not refund automatically.

[code]

[2022-07-27 20:33] Scalena commented on #1060
@delta1 That's great! Actually, I got the idea while looking into Core Lightning (https://github.com/ElementsProject/lightning) which is, after all, a related application and has a very elaborate plugin system. I'm not sure if something similar would be appropriate for this project, but it is definitely worth looking at for inspiration. See also at https://github.com/ElementsProject/lightning/blob

[2022-07-27 23:30] SIEVEofEratosthenes commented on #1055
![Uploading Screenshot_2022-07-27_19-29-26.png…]()

[2022-07-28 04:18] delta1 commented on #1055
Yeah sorry I couldn’t keep it online yesterday, will set it up today and stay connected

[2022-07-28 04:19] delta1 commented on #1060
Thanks!

[2022-07-28 10:29] delta1 commented on #1055
Hey so I started and left the ASB for over an hour, it registered immediately, and then re-registered after an hour. Which is expected, the initial TTL is 2h and the ASB code re-registered at TTL / 2

[code]

[2022-07-28 11:22] delta1 commented on #1055
Without a way to reproduce this I'm not sure what I can do for now. Will be releasing a new version soon, but I guess there's no way to get operators to upgrade :shrug:

[2022-07-29 15:34] delta1 commented on #761
I'm almost done with this, should have it PR'd on Monday

[2022-07-30 02:22] SIEVEofEratosthenes commented on #1055
Yes. Sorry for my late response. I saw the expiry and re-registration. Okay. I'll reach out to him and let him know to upgrade. Appreciate the time you spent very much.

[2022-07-30 02:22] #1055 closed

[2022-07-31 12:46] delta1 commented on #761
Ready at #1080

[2022-07-31 12:49] delta1 opened #1081 "upgrade Monero to 0.18 and release before hardfork on 13 August 2022"
https://www.getmonero.org/2022/04/20/network-upgrade-july-2022.html

[2022-08-02 19:03] xmrswapme opened #1084 "Monero balance too low to conduct swap...Latest Preview version"
**Describe the bug**
I have plenty of monero in my wallet, my maximum is 0.0045 BTC ~ .65 XMR, my minimum is 0.0002 BTC. I get the following errors in the latest preview version

**Lost/trapped Funds**
No

**Debug logs**
2022-08-02T18:57:46.599355617Z  INFO Initialized Monero wallet monero_balance=0.826286435921 XMR
2022-08-02T18:58:05.704608738Z  WARN Your Monero balance is too low to initiate a

[2022-08-02 19:20] xmrswapme opened #1085 "Tor not found... Latest ASB Preview"
**Describe the bug**
ASB version 0.10.1, connects to Tor no problem. Latest ASB preview version does not.,

**Lost/trapped Funds**
No

**Debug logs**
**ASB PREVIEW**
[code]

**ASB v0.10.1**
[code]
**Platform (please complete the following information):**

- ASB
- Software Version: Preview
- Operating System: Ubuntu

[2022-08-02 19:27] delta1 commented on #1084
Hey @xmrswapme thanks for reporting, will take a look

[2022-08-02 19:28] delta1 commented on #1085
Thanks for reporting, will investigate

[2022-08-02 19:31] delta1 commented on #1085
Could you try with 0.10.2 as well please?

What socks and control ports are you using? The defaults? (9050 and 9051) and are those the settings in your config file?

[2022-08-02 19:36] xmrswapme commented on #1085
I run Ubuntu 20.04 and ASB 0.10.2 prints nothing on the screen. I believe there was an issue from binarybarron about this

[2022-08-02 19:37] xmrswapme commented on #1085
Socks 9050, control 9051

[2022-08-02 19:41] delta1 commented on #1084
I think this depends on your `ask_spread` as well as the current exchange rate do you have those figures?

[2022-08-02 19:42] delta1 commented on #1085
Right, I had the same issue. Thanks I'll test the latest preview tomorrow

[2022-08-03 11:10] jxadl commented on #1061
Same issue here. How do I restart monero-wallet-rpc?

[2022-08-03 11:23] delta1 commented on #1061
swap cli spawns its own monero-wallet-rpc, so I think you'll have to copy your swap-id, cancel your swap process with ctrl+c, and then run `swap resume --swap-id <swap-id>`

[2022-08-03 11:27] jxadl commented on #1061
After running `swap resume --swap-id <swap-id>` problem continues, the same message keeps on repeating in a loop.

[2022-08-03 11:55] delta1 commented on #1061
Which version of swap cli are you running?

Please also try adding the `--debug` flag to give more info

[2022-08-03 12:00] delta1 commented on #1061
I'm adding some debug info in #1088 so once that is merged you can try the preview build and we can hopefully figure out what's happening in the wallet rpc call

[2022-08-03 12:14] #1084 closed

[2022-08-03 12:28] delta1 commented on #1084
@xmrswapme fixed in #1086 please try the newest preview

[2022-08-03 12:44] delta1 commented on #761
Bounty received, thank you @binarybaron !

[2022-08-03 12:44] #761 closed

[2022-08-03 13:29] jxadl commented on #1061
swap version: 0.10.2
[code]
...and so on.

[2022-08-03 13:43] delta1 commented on #1061
@jxadl please try the new preview build which should provide an error message from the wallet rpc https://github.com/comit-network/xmr-btc-swap/releases/tag/preview

[2022-08-03 20:25] allconnected commented on #1061
Had the same issue. Updating swap.exe to the preview release mentioned by @delta1 fixed this issue.
Had to replace the swap.exe and executed `swap resume --swap-id <swap_id>`. The swap didn't finish fully tough, I had to manually open the wallet where it was 'swapped' to and send it to my address.

[2022-08-03 20:35] delta1 commented on #1061
Thanks @allconnected so you didn’t see the same error message at all?

Will be doing a new release soon 👌

[2022-08-04 13:03] binarybaron commented on #683
We use bounties to incentivize development and reward contributors. All issues available for a bounty have the `Bounty 💰 ` label.

To receive the bounty of this issue, you agree to these conditions:

- Your changes must follow the [styling guidelines](https://github.com/comit-network/xmr-btc-swap/blob/master/CONTRIBUTING.md).
- Bounties will be set and awarded at discretion of @binarybaron .
The i

[2022-08-04 13:03] binarybaron commented on #683
@delta1 Would you be interested in taking this on?

[2022-08-04 13:22] delta1 commented on #683
Yes definitely! Will pick it up after getting #1081 fixed and released for the hard fork

[2022-08-04 13:33] delta1 commented on #1085
hey @xmrswapme I'm unable to reproduce this with the latest preview.

[code]

I'm running Pop_OS (based on ubuntu), with Tor installed via apt and bog standard conf.

Do you still have the same issue?

[2022-08-04 18:03] allconnected commented on #1061
@delta1 I did see the same error message. If you mean this one:
``monero-wallet-rpc` failed to fetch transaction, may need to be restarted txid=xxxxx`

[2022-08-05 02:11] xmrswapme commented on #1085
Yes. It works now on the latest preview. Also, loving the console logs now!

Thanks for all your hard work :)

[2022-08-05 02:11] #1085 closed

[2022-08-05 05:00] delta1 commented on #1085
Glad to hear it! Happy swapping

[2022-08-05 08:31] lescuer97 commented on #1061
just got the monero-wallet-rpc message for the first time

[2022-08-05 11:53] delta1 commented on #1061
... and then what happened?

[2022-08-05 12:08] delta1 commented on #1061
Spotted this too, with error message `Failed to parse transaction from daemon` - trying to create a reproducing test case

[2022-08-05 12:23] lescuer97 commented on #1061
Basically it just keeps sending the message about the error and it doesn't progress on sending messages about locks in ALICE. This also happened to me with @binarybaron  asb

[2022-08-05 12:30] lescuer97 opened #1096 "put a timestamp for the history in trades"
its kind of hard to find the correct swap-id in the history command. so it would be good to have a timestamp for the start time of the swap

[2022-08-05 13:33] delta1 commented on #1061
The error message above `Failed to parse transaction from daemon` means that the wallet-rpc inside the swap cli is failing to parse the response from the monero daemon. I suspect that the melo.tools/rino nodes are already upgraded to the newer monero version, while the swap cli is still using the older version.

Will confirm this once #1081 is complete

[2022-08-08 11:51] binarybaron commented on #1096
Fyi the timestamps are saved in the database (We display them in the GUI)

[2022-08-08 13:27] #988 closed

[2022-08-09 11:57] delta1 commented on #1061
The cause is the swap cli using an older version of the wallet-rpc.

Manual fix: replace with latest monero-wallet-rpc executable in the swap/monero folder

(on linux this is `~/.local/share/xmr-btc-swap/cli/<network>/monero` )

Upcoming fix in new release after #1100: remove the above folder and swap will download the newer binary

[2022-08-09 17:53] delta1 commented on #1081
#1100 is ready after some further testing

[2022-08-10 13:25] binarybaron commented on #683
I did start working on this a bit. I'll publish my WIP branch later, if @delta1 or anyone else wants to pick up from where I left

[2022-08-10 15:41] binarybaron commented on #683
https://github.com/comit-network/xmr-btc-swap/compare/master...binarybaron:xmr-btc-swap:detect-timelocks-manual-refund

[2022-08-11 12:36] #1081 closed

[2022-08-12 03:17] #856 closed

[2022-08-12 06:34] delta1 commented on #993
Hi please try the latest release 0.11.0 it has numerous fixes

[2022-08-12 06:35] delta1 commented on #921
Fixed in the latest release

[2022-08-12 06:35] #921 closed

[2022-08-12 06:38] #814 closed

[2022-08-12 06:49] #559 closed

[2022-08-12 09:29] delta1 opened #1106 "asb: add withdraw-xmr command"
similar to withdraw-btc, in case you want to withdraw xmr

[2022-08-12 10:27] #1043 closed

[2022-08-12 12:16] #926 closed

[2022-08-14 17:20] #877 closed

[2022-09-04 00:23] phatkiller commented on #878
@xmrswapme can you please explain how to import it to sparrow I tired no success.

[2022-09-12 14:44] binarybaron commented on #683
Increased bounty to 0.5 XMR! @delta1 @lescuer97

[2022-09-12 14:48] delta1 commented on #683
Nice! Picking this back up tomorrow 👌

[2022-09-27 21:39] binarybaron commented on #683
Any updates? Have you had time to take a look at this again?

[2022-09-28 05:09] delta1 commented on #683
No updates, sorry have been dealing with personal issues so if somebody else could pick it up that’s totally fine. Otherwise I can get back to it in a couple of weeks.

[2022-10-10 12:27] #956 closed

[2022-10-24 16:50] binarybaron opened #1182 "Bitcoin wallet broken "ChecksumMismatch""
**Describe the bug**
The bitcoin wallet is disfunctional and can't be initialized.

**Lost/trapped Funds**
Yes or No

**Debug logs**

[code]

**Platform (please complete the following information):**

- CLI
- Software Version: HEAD (preview)
- Operating System: M2 Mac OS

[2022-10-24 18:51] delta1 commented on #1182
I think I hit this before - is it possible you tried to open a mainnet wallet with the `--testnet` flag or vice versa?

[2022-10-24 19:01] delta1 commented on #1182
This comes from the call into [`bdk::Wallet::new`](https://docs.rs/bdk/latest/bdk/wallet/struct.Wallet.html#method.new) that says

`The only way this can fail is if the descriptors passed in do not match the checksums in database`

I suspect the wallet you're trying to open is for the other network.

[2022-10-24 19:02] delta1 commented on #1182
NOICE

[2022-10-24 21:12] binarybaron commented on #1182
I don't think so. Why would that be the case?

[2022-10-24 21:16] binarybaron commented on #1182
Can you reprodue this issue? It doesn't occur on the latest stable release (https://github.com/comit-network/xmr-btc-swap/releases/tag/0.11.0). Only on preview.

Maybe it was caused by the upgrade to bdk 0.23 https://github.com/comit-network/xmr-btc-swap/commit/ef7922f898191cfcf1e843af70c6a010a9d733d7 ?

[2022-10-25 08:02] delta1 commented on #1182
I’ve had it happen before - the testnet descriptor from the seed would be different to mainnet

[2022-10-25 08:03] delta1 commented on #1182
I will try to reproduce. So the same wallet file you created with 0.11 doesn’t open with preview? I will test the same and confirm - it is possible there was a breaking change in bdk although that upgrade was relatively simple.

[2022-10-25 09:00] delta1 commented on #1182
Reproduced the issue but it appears to only occur with a testnet wallet :shrug:

Generated new mainnet and testnet wallets with 0.11, then called `balance` with the current preview [40d0a2631](https://github.com/comit-network/xmr-btc-swap/releases/tag/preview) binary

[code]

[2022-10-25 09:32] delta1 commented on #1182
`git-bisect` indicates this was the breaking change: https://github.com/comit-network/xmr-btc-swap/pull/1116

Which is *somewhat* expected since that was bdk 0.16 -> 0.22

I will try see what changed in BDK to cause that, but besides that I think this issue shows it's worth having a test in CI to test opening wallets created with the previous release version.

[2022-10-25 09:35] delta1 opened #1183 "create a test in CI that tests opening wallet/s created with previous release version"
Since #1116, trying to open a Testnet bitcoin wallet created with version 0.11.0 fails with `ChecksumMismatch`

The BDK dependency was bumped from 0.16 -> 0.22 and had a number of breaking changes.

I will try see what changed in BDK to cause that, but besides that I think this issue shows it's worth having a test in CI to test opening wallets created with the previous release version.

_Originall

[2022-10-25 11:31] binarybaron opened #1184 ""Failed to deserialize bytes into message using CBOR""
**Describe the bug**
Initiating a swap fails. This _might_ be due to the asb and cli using different versions of the software. CLI uses latest preview release. ASB is self-compiled and a few weeks old. I'll compile to use the latest asb version and try again.

**Debug logs**
**CLI:**
[code]

**ASB:**
[code]

**Lost/trapped Funds**
No

**Platform (please complete the following information):**

- CL

[2022-10-26 11:05] binarybaron commented on #1184
@delta1 Any idea what could be causing this? Could it be related to the bdk update? It's preventing me from working on the GUI :/

[2022-10-26 15:55] delta1 commented on #1184
Not really, I'd much rather make a new release for 0.12.

What changes do you have to 0.11?  Can they be upstreamed here? Then we can do a backport release of that into 0.11.1 for you.

I can't answer without an investigation and is a very good reason to stay current with their releases

[2022-10-26 18:18] delta1 commented on #1184
I'll take a look at making a 0.11.1 release with everything except the bdk changes

[2022-10-27 09:46] binarybaron commented on #1184
I understand your point but I think we have to consider the costs-benefits. The upgrade changes the internal data structures therefore a database created by the old version is not compatible with the latest version. We are essentially forcing users to delete their whole database just to be able to use the cli again.
The GUI also uses the `tx_lock` saved in the database to display amounts, fees etc

[2022-10-27 10:16] binarybaron opened #1185 "[3 XMR] API Interface"
While working on a [GUI](http://github.com/UnstoppableSwap/unstoppableswap-gui) to make the usage of the `CLI` easier, I've discovered a few things that are making developing tools on top of this project much harder that it needs to be. While they should have been obvious from the beginning, I initially thought they could be worked around. Namely:
- There is no easy way to extract information abou

[2022-10-27 10:16] binarybaron commented on #1185
We use bounties to incentivize development and reward contributors. All issues available for a bounty have the Bounty 💰 label.

To receive a bounty, you agree to these conditions:

Your changes must follow the [styling guidelines](https://github.com/comit-network/xmr-btc-swap/blob/master/CONTRIBUTING.md).
Bounties will be set and awarded at discretion of @binarybaron .
The issues eligible for a bo

[2022-10-27 10:24] binarybaron commented on #1185
@delta1  @lescuer97 Anyone of you interested in taking this on?

[2022-10-27 10:33] delta1 commented on #1185
Ye definitely interested, this would be a great improvement. Various “front-ends” like cli/web etc should use the same API. Will start outlining a plan when I can.

[2022-10-27 10:34] delta1 commented on #1184
I hear you, but what I’m saying is that we can make a release that excludes it - using the master branch can never guarantee non-breaking changes.

[2022-10-27 10:49] lescuer97 commented on #1185
I'm actually right now redacting a CSS for working on the proyect and this along with some important bugs, and the docker container for the ASB are part of it. I will share it with you guys in the days to come

[2022-10-27 13:30] delta1 commented on #1184
@binarybaron here's a branch with everything from that bdk upgrade removed https://github.com/comit-network/xmr-btc-swap/tree/0.11.x

Want to give it a shot? I'm waiting on CI then I'll do a release from that branch of 0.11.1

[2022-10-28 08:47] binarybaron commented on #1185
Sounds awesome! Keep us updated

[2022-10-28 09:12] delta1 commented on #1184
@binarybaron please try this branch - there's a CI/test failure that I'm only going to fix if this works for you

[2022-10-28 12:03] binarybaron commented on #1184
Sorry, forgot to reply. Running asb on https://github.com/comit-network/xmr-btc-swap/releases/tag/0.11.0 and CLI on the branch you provided fixes the issue

[2022-10-28 12:05] delta1 commented on #1184
No worries, happy to hear that. Let me take a quick look at this broken test but it's so minor I'll prob leave it and just make a release for you.

[2022-10-31 07:56] yamabiiko commented on #1185
I'm interested as well. Will probably start working on it this week

[2022-10-31 16:35] binarybaron commented on #1185
Awesome! Don't hesitate to cooperate/work together on this if you want to

[2022-11-01 11:11] binarybaron opened #1192 "Use unlocked Monero balance to calculate `max_bitcoin_for_monero`"
**Describe the bug**
We need to use the unlocked Monero balance instead of normal Monero balance to calculate `max_bitcoin_for_monero`.

**Lost/trapped Funds**
Yes or No

**Debug logs**
Please post your debug logs. You find them in:
Linux: /home/<user>/.local/share/xmr-btc-swap/logs
OSX: /Users/<user>/Library/ApplicationSupport/xmr-btc-swap/logs

**Platform (please complete the following informati

[2022-11-01 11:41] delta1 commented on #1192
Nice, I was wondering about this

[2022-11-01 11:42] delta1 commented on #1192
https://www.getmonero.org/resources/developer-guides/wallet-rpc.html#get_balance

[2022-11-10 19:23] binarybaron commented on #1185
Did you start working on it?

[2022-11-10 20:48] yamabiiko commented on #1185
Yes, I have - I am planning to use the jsonrpsee crate as the JSON-RPC HTTP server library

[2022-11-11 10:28] binarybaron commented on #1185
Sound good. Do you have a WIP branch I could take a look at? Maybe I can help in some way

[2022-11-11 19:24] yamabiiko commented on #1185
I uploaded it here https://github.com/yamabiiko/xmr-btc-swap/tree/rpc-server
It's pretty much empty since it's just a minimal PoC for now.
I was wondering if it would be better to move most of the logic of the various commands of `swap.rs` into a module that could be shared with the rpc module. That way there would be little code redundancy.
If you want to discuss it you can text me on Matrix too

[2022-11-11 23:41] binarybaron commented on #1185
Looks awesome! I guess that'd make sense.

[2022-11-12 00:14] binarybaron commented on #1185
Also I added you on Matrix in case you want to communicate over that channel. But I'd also advise we use GitHub primarily. Makes development more transparent

[2022-11-12 14:32] delta1 opened #1208 "Add aarch64-apple-darwin to binaries workflow"

[2022-11-12 19:09] yamabiiko commented on #1185
I progressed and updated the WIP branch with some experimentation.
Thought process:
- a new InternalApi struct at `swap/src/api.rs`  is composed of two structs Options (previously Arguments), Parameters (parameters you would pass to execute some CLI command) and the enum Command (same enum as before without any data, data has been moved to Parameters struct). This will be used by both the CLI and

[2022-11-14 06:21] binarybaron commented on #1185
Thanks a lot for the update!

I think we should leave the JSON flag for now since it's still quite useful for scripts etc. which often lack the capabilities for a full JSON-RPC client.

Have you given any thought to how you are going to return data to the requester?

[2022-11-14 07:59] yamabiiko commented on #1185
I'll work on it next. One way it could be done is to have the InternalApi already return a JSON response, which could be used by the CLI (with some helper methods to output it properly) and by the JSON-RPC server (directly).
Otherwise it should return different data based on some flag.

[2022-11-14 08:33] binarybaron commented on #1185
Also just thought of two more things:
- You have to open the bitcoin wallet, monero wallet and database outside of the individual commands. Otherwise you won't be able to call RPC commands concurrently and they will be unnecessarily slow.
- You have to make sure that some commands are not called concurrently (e.g. can't start new swap while old one is running)

[2022-11-14 11:21] delta1 commented on #1182
Tracked this down to this change: https://github.com/bitcoindevkit/bdk/issues/578

I've got a failing integration test done, and working on a migration/fix

[2022-11-14 14:16] lescuer97 commented on #1184
if this is ready and tests passed can we close this?

[2022-11-14 14:19] delta1 commented on #1184
Well, it's not an issue with 0.11.x but is likely to remain incompatible with master/the next major release 0.12

[2022-11-14 14:21] delta1 commented on #1184
Actually want to keep this open so I can remember to try fix it

[2022-11-14 14:37] lescuer97 commented on #1184
perfect no problem

[2022-11-18 20:26] binarybaron commented on #1185
Any update? @yamabiiko

[2022-11-19 10:38] yamabiiko commented on #1185
I updated the WIP branch and I'm currently writing the code that should return the proper JSON response based on the command.
I've changed the api module and now it is composed of two main structs: `Init` and `Request`.
The `Init` struct contains the bitcoin wallet, monero wallet and database so once the server gets initialized all the request can reuse the already opened resources.
The `Request`

[2022-11-19 20:32] Gullibob opened #1215 "Swap complains it supports none of the protocols requested by the remote in Whonix OS"
I'm trying to get seller list in Whonix OS. This OS is known for that it tends to suppress any traffic non compatible with TOR (like UDP and, probably ws aka Websocket).

Are any workarounds available? Can I Swap using TOR connection only?
Debug listing of the bug:
[code]

[2022-11-20 00:35] binarybaron commented on #1185
Thanks! Sadly my rust knowledge is limited as well. Perhaps @delta1 can provide some assistance or give you a hint.

[2022-11-20 17:13] lescuer97 commented on #1185
if your branch is up to date I can take a look at it tomorrow @yamabiiko

[2022-11-20 19:28] yamabiiko commented on #1185
Yes, it's up to date, I haven't continued working on it yet

[2022-11-22 14:29] yamabiiko commented on #1185
I should have figured out both points, now I just need to work on it and I'll update the branch

Can you give a complete list? Or at least list all the situations you can think of that need blocking commands.

[2022-11-23 12:49] binarybaron commented on #1185
The main thing is the running swap but I'll try to think of other cases.

[2022-11-23 19:54] yamabiiko commented on #993
I have the same issue. I tried both on 0.11.1 and master
Happens on both testnet and mainnet, from local asb or the ones listed in https://unstoppableswap.net/.
The only debug log I get is this:
[code]

[2022-11-24 20:58] binarybaron commented on #1185
I took a look at your branch and compiled it myself. Looks pretty good but I noticed one small issue. The bitcoin balance is not always up to date when doing a request to the RPC server because it not synced. You need to manually sync it before returning the balance.

https://github.com/yamabiiko/xmr-btc-swap/blob/256ff56f935d99086d49294dbcb4fb2ee34af15a/swap/src/api.rs#L203-L217

Suggested change

[2022-11-25 16:16] #1183 closed

[2022-11-25 16:17] #1182 closed

[2022-11-27 17:12] binarybaron commented on #1185
Also can you make sure to catch errors when calling the `api` and return that to the requester.

[2022-11-28 12:04] binarybaron commented on #1185
I have started integrating your branch into the GUI. It'll definitely take some time but I have already migrated the display of the balance and the withdraw functionality. One small thing I'm missing is the txid when withdrawing bitcoin from the internal wallet.

swap/src/api.rs (line 203)
[code]